<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">  
<head>  
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<title>CSCI5308 Group Formation Tool - Login page</title>
</head>  
<body>  
	<div th:if="${param.error}">
		Invalid Banner ID or password.
	</div>
	<div th:if="${param.logout}">
		You have been logged out.
	</div>
	<h5>Welcome to the group formation tool, please sign in:</h5>
	<br/>
	<form th:action="@{/login}" method="post">
	    <div><label> BannerID : <input type="text" name="username"/> </label></div>
	    <div><label> Password: <input type="password" name="password"/> </label></div>
	    <div><input type="submit" class="btn btn-primary" value="Log In"/></div>
	</form>
	<br/>
	<a class="text-primary" th:href="@{signup}">Are you a new user? Click here to sign up!</a>
</body>  
</html>